{% extends 'auth/base.html' %}
{% load poll_extras %}
{% block content %}

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if post.author == request_user %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove">Remove</span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.description|linebreaksbr }}</p>
    </div>


    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        {% if comment not in replies %}
            <div class="comment">
                {% if request.user|has_group:"mod" %}
                    <a class="btn btn-default pull-right" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span>
                    </a>
                {% endif %}
                <button class="btn btn-sm btn-primary pull-right" type="button" data-toggle="collapse" data-target="#replyBox{{comment.pk}}" aria-expanded="false" aria-controls="replyBox{{comment.pk}}">
                    Reply
                </button>
                
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        
            
        {% endif %}
            <div class="collapse" id="replyBox{{comment.pk}}">
                <div class="card card-body m-2">
                    <form action="add_reply_to_comment" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="comment">Post a reply</label>
                            <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                            <input type="hidden" name="parentPk" value="{{comment.pk}}">
                        </div>
                        <input type="hidden" name="postPk" value="{{post.pk}}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </form>
                </div>
            </div>
        

        <div class="replies bg-danger my-2 comment">
            {% for reply in replyDict|get_value:comment.pk %}
                {{ reply }}
                <br>
            {% endfor %}
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    

{% endblock %}